body {
  margin: 0;
  padding: 0;
  background-color: rgba(128, 128, 128, 0.1);
}

.font_css{
  font-size: 15px;
  font-weight: 300;
}

.box_image {
  display: block;
  height: 80px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: lightgrey solid 3px;
}

.box_items {
  list-style: none;
  width: 7%;
  height: 100%;
  margin: 0%;
  position: fixed;
  padding: 0%;
  box-shadow: 0px 0px 15px 0px lightgray;
  background-color: white;
}

.box_item {
  display: block;
  height: 60px;
  text-align: center;
  padding: 8px;
  margin: 0;
}

p {
  margin: 0%;
}



.a_css {
  color: grey;
  text-decoration: none;
  
}

.box_item:hover {
  background-color: #d0e0ed;
  border-left: blue solid 3px;
  color: black;
}

.white-nav {
  background-color: white;
  height: 80px;
  width: 100%;
}

.p_css {
  color: grey;
  margin-left: 10%;
  margin-top: 33px;
}

.input_css {
  margin-left: 20%;
  height: 40px;
  width: 900px;
  border-radius: 8px;
  border: hidden;
  font-weight: bolder;
  margin-top: 50px;
}

::placeholder {
  font-weight: bold;
  color: grey;
  position: relative;
  left: 15px;
}

.or_css {
  margin-left: 47%;
  font-weight: bold;
  margin-top: 30px;
}

.upload_box {
  margin-bottom: 10px;
  height: 160px;
  width: 160px;
  background-color: white;
  text-align: center;
  border: none;
  font-weight: bolder;
}

.upload_heading {
  position: relative;
  top: 70px;

  font-weight: bold;
  color: black;
}

i{
    padding-top: 10px;
}


#fileLoader
{
    display:none;
}


